<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <package android:name="com.sawelo.wordmemorizer" />
        <package android:name="com.sawelo.wordmemorizer.clean" />
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordMemorizer"
        tools:targetApi="31">

        <activity
            android:name=".activity.BackupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.action.CREATE_BACKUP_DB"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3161498246882165~1811137470" />

        <provider
            android:name=".data.DatabaseFileProvider"
            android:authorities="${applicationId}.file-provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.DownloadDrawService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.DownloadTranslatorService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.NotificationFloatingBubbleService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.FloatingAddWordWindowReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.action.OPEN_FLOATING_DIALOG" />
                <action android:name="${applicationId}.action.CLOSE_FLOATING_DIALOG" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditWordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>